<div class="row">
  <div [ngClass]="newLineLabelName ? 'col-12' : 'col-md col-12'">
    <label *ngIf="labelName" class="control-label">
      {{labelName}}
    </label>
  </div>
  <div class="col-md col-12">
    <div ngbDropdown
         class="d-inline-block">
      <button class="btn"
              ngClass="{{errorMessage ? 'btn-outline-danger' : 'btn-outline-primary'}}"
              id="dropdownMenu"
              [ngStyle]="{'width.px': fixedWidth ? fixedWidth : '100%'}"
              ngbDropdownToggle>
        {{selectedValue ? selectedValue.label : 'Button'}}
      </button>
      <div ngbDropdownMenu
           aria-labelledby="dropdownMenu">
        <button *ngFor="let value of values"
                (click)="selectDropdown(value)"
                class="dropdown-item">
          {{value.label}}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage" class="errorMessage row">
    <div class="col">
      <i class="fal fa-times-octagon"></i>
      {{errorMessage ? errorMessage : 'Invalid Value!'}}
    </div>
  </div>
</div>




