<div class="row">
  <div class="col-12">
    <label class="font-weight-bold">Implement Spells: </label>
    <button id="displaySpellButton" class="btn btn-outline-primary btn-sm" (click)="displaySpells()">
      {{selectionDisplayToggle ? 'Hide' :
      'Show'}} Implement Spells
    </button>
    <div class="selectedSpellDisplay float-right row" *ngIf="selectedSpells.length > 0">
      <label class="font-weight-bold col">Selected {{selectedSpells.length === 1 ? propertyName : propertyName+'s'}}:
      </label>
      <div class="btn-sm bg-success" *ngFor="let selectDisplaySpell of selectedSpells">
        {{selectDisplaySpell.name | castleCase}}
      </div>
    </div>
    <div *ngIf="selectionDisplayToggle">
      <p>You can select {{numberOfSpellsToSelect}} {{numberOfSpellsToSelect === 1 ? propertyName : propertyName + 's'}}
      </p>
      <div class="col-12" *ngFor="let spell of getSpellText()">

        <div class="card-header" (click)="openSpell(spell)"><span class="name font-weight-bold">{{spell.name | castleCase}}</span>
          <button class="btn btn-sm spellButton float-right"
                  [ngClass]="{'disabled': !isSubthemeSelected() ||
                    numberOfSpellsToSelect === 0,
                     'btn-success': isSpellSelected(spell),
                     'btn-primary': !isSpellSelected(spell)
                    }"
                  [disabled]="!isSubthemeSelected()"
                  (click)="selectSpell(spell)">
            {{isSpellSelected(spell) ? 'Deselect' : 'Select'}} Spell
          </button>
        </div>
        <div class="card-text spellWell" *ngIf="isSpellOpen(spell)">
              <span class="description">
                {{spell.name}}
              </span><br><br *ngIf="!getSpellData(spell.name)">
          <table id="{{spell.name}}Table" *ngIf="!!getSpellData(spell.name)" class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Bonus</th>
              <th scope="col">L 1</th>
              <th scope="col">L 2</th>
              <th scope="col">L 3</th>
              <th scope="col">L 4</th>
              <th scope="col">L 5</th>
              <th scope="col">L 6</th>
              <th scope="col">L 7</th>
              <th scope="col">L 8</th>
              <th scope="col">L 9</th>
              <th scope="col">L 10</th>
            </tr>
            </thead>
            <tr>
              <th class="spellDataName">{{spell.name | castleCase}}</th>
              <td *ngFor="let data of getSpellData(spell.name)">{{data}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
