<div class="row">
  <div class="col-4">
    <label id="activeDefense">Active Defense: {{getActiveDefenseValue()}}</label>
    <div class="row">
      <label class="col-12"></label>
    </div>

  </div>
  <div class="col-4">
    <label id="passiveDefense">Passive Defenses: {{getPassiveDefenseValue()}}</label>
    <div class="row">
      <label class="col-12"></label>
    </div>
  </div>
  <div class="col-4">
    <label id="magicalDefense"></label>
    <div class="row">
      <label class="col-12"></label>
    </div>
  </div>
</div>
