.knackOffset {
  margin-left: -10px;
}

.knackWell {
  background-color: #ededed;
}

.rowEnder {
  padding-bottom: 10px;
}

#displayKnackButton {
  margin-top: -30px;
  margin-left: 10px;
}

#openAllKnacks {
  margin-top: -30px;
}


.selectedKnackDiv {
  margin-bottom: 3px;
  margin-top: -3px;
  color: white;
  font-weight: 500;
}

