.knackOffset {
  margin-left: -10px;
}

.knackWell {
  background-color: #ededed;
}

.rowEnder {
  padding-bottom: 10px;
}

#displayKnackButton {
  margin-top: -30px;
}

#openAllKnacks {
  margin-top: -30px;
}

