<div class="w-100">
  <div class="row">
    <div class="col-12">
      <h2 class="titleStyle">
        Combat Oriented Role Playing System -- Character Sheet
      </h2>
    </div>
  </div>
  <form name="characterSheetForm" class="container">
    <div class="row">
      <div class="col-4">
        <corps-input id="characterName" labelName="Name" [required]="true" [newLineLabelName]="true"
                     [inputModel]="character.name" (outGoingModel)="character.name=$event"></corps-input>
      </div>


      <div class="col-5">
        <div class="row">
          <div class="col">
            <corps-dropdown id="characterRace"
                            labelName="Race"
                            [newLineLabelName]="true"
                            [values]="races"
                            (valueChange)="updateCharacterRace($event.value)"></corps-dropdown>
          </div>
          <div class="col">
            <corps-dropdown #subRace
                            *ngIf="character.raceType === RaceType.Primental" id="characterSubRace"
                            labelName="Sub-Race"
                            [newLineLabelName]="true"
                            [values]="subraces" (valueChange)="updateSubRace($event.value)">

            </corps-dropdown>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-6">
            <label class="control-label">Vision</label><br>

            <label class="font-weight-normal">{{character.vision}}</label>
          </div>
          <div class="col-6">
            <corps-dropdown id="characterLevel" labelName="Level" [newLineLabelName]="true"
                            [values]="levels" (valueChange)="updateCharacterLevel($event.value)">

            </corps-dropdown>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col">
                    <label class="font-weight-bold control-label text-center">Theme Points</label>
                  </div>
                </div>
                <corps-character-theme-points id="themePoints"
                                              (emitter)="updateThemePoints($event)">
                </corps-character-theme-points>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 align-self-center">
            <div class="row" *ngIf="character.themePoints.getTotalThemePoints() === 4">
              <div class="col">
                <corps-character-subtheme-display
                  [previouslySelectedSubthemeContainer]="character?.subthemes"
                  (openSubtheme)="launchSubthemesModal()">
                </corps-character-subtheme-display>
              </div>
              <!--<div class="col-6">-->

              <!--</div>-->
            </div>
          </div>

          <div class="col-12 col-md-4 align-self-center">
            <div class="row">
              <div class="col-md-5 col-12" *ngIf="character.themePoints.getTotalThemePoints() === 4">
                <div class="row">
                  <div class="col">
                    <corps-dropdown id="fightningStyle"
                                    [labelName]="'Fighting Style'"
                                    [newLineLabelName]="true"
                                    [values]="getFightingStyle()"
                                    (valueChange)="updateCharacterFightingStyle($event.value)">
                    </corps-dropdown>
                  </div>
                </div>
              </div>
              <div class="col-md-3 offset-md-1 col-6">
                <div class="row">
                  <div class="col">
                    <label class="control-label">Initiative</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="font-weight-normal">{{character.getInitiative()}}</label>

                  </div>
                </div>

              </div>
              <div class="col-md-3 col-6">
                <label class="control-label">Movement</label><br>

                <label class="font-weight-normal">{{character.getSpeed()}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col border border-dark border-spacing">
            <label id="activeDefense" class="font-weight-bold">Active Defense: {{getActiveDefenseValue()}}</label>
            <div class="d-flex justify-content-center row">
              <label *ngFor="let defense of character.physicalDefense.activeDefenses"
                     class="activeList col">{{defense}}</label>
            </div>

          </div>
          <div class="col border border-dark border-spacing">
            <label class="font-weight-bold" id="passiveDefense">Passive Defenses:
              {{getPassiveDefenseValue()}}</label>
            <div class="d-flex justify-content-center row">
              <label *ngFor="let defense of character.physicalDefense.passiveDefenses; let index = index"
                     class="passiveList col">{{defense}}
                <span *ngIf="index > character.physicalDefense.passiveDefenses.length">, </span>
              </label>
            </div>
          </div>
          <div class="col border border-dark border-spacing">
            <label class="font-weight-bold" id="magicalDefense">Magic Defenses:</label>
            <div class="d-flex justify-content-center row">
              <label id="fortitude" class="col font-weight-bold">Fort:
                {{getMagicDefensiveValue(MagicDefenseType.Fortitude)}}</label>
              <label id="reflex" class="col font-weight-bold">Reflex:
                {{getMagicDefensiveValue(MagicDefenseType.Reflex)}}</label>
              <label id="will" class="col font-weight-bold">Will:
                {{getMagicDefensiveValue(MagicDefenseType.Will)}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col text-center">
            <div class="row">
              <div class=col>
                <label class="control-label">Hit Points
                  <span *ngIf="getTemporaryHitPointsValue() > 0"> / Temp Hp</span></label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                {{getHitPointsValue()}}<span id="thpValue" *ngIf="getTemporaryHitPointsValue() > 0"> / {{getTemporaryHitPointsValue()}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <label class="control-label">Bloodied Value</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{getBloodiedValue()}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <label class="control-label">Recovery Value (IC/OoC):</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{getRecoveryValue()}} / {{getOutofCombatRecoveryValue()}}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <label class="control-label">Critical Reduction:</label>

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{getCriticalReductionValue()}}

          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <label class="control-label">Magic Resistance</label>
          </div>
        </div>
        <div class="row" *ngIf="getPrimaryMagicResistanceValues().length > 0">
          <div class="col-12" *ngFor="let res of getPrimaryMagicResistanceValues()">
            <div class="row">
              <div class="col-6 text-right">{{res.type}}</div>
              <div class="col-6 text-left">{{res.value}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6 text-right">
                All Magic
              </div>
              <div class="col-6 text-left">
                {{getSecondaryMagicRestanceValue()}}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col text-center">
            <div class="row">
              <div class="col">
                <label class="control-label">Power Points</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                {{getPowerPoints()}}
              </div>
            </div>
          </div>
          <div class="col text-center">
            <div class="row">
              <div class="col">
                <label class="control-label">Adrenaline Points</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                {{getAdrenalinePoints()}}
              </div>
            </div>
          </div>
          <div class="col text-center">
            <div class="row">
              <div class="col">
                <label class="control-label">Recovery Points</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                {{getRecoveries()}}
              </div>
            </div>
          </div>
          <div class="col-40 text-center">
            <div class="row">
              <div class="col">
                <label class="control-label">Starting Combat/Resource Bonuses</label>
              </div>
            </div>
            <div class="row" *ngFor="let bonus of getCombatBonuses()">
              <div class="col">
                {{bonus.name | castleCase}}: {{bonus.value}}
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row">


      <div class="col-auto">
        <div class="row">
          <div class="col-12">
            Brawn: {{character.attributes.Brawn.strength}}
            Vitality: {{character.attributes.Vitality.strength}}
            Quickness: {{character.attributes.Quickness.strength}}
            Agility: {{character.attributes.Agility.strength}}
            Reasoning: {{character.attributes.Reasoning.strength}}
            Presence: {{character.attributes.Presence.strength}}
            Self Discipline: {{character.attributes.SelfDiscipline.strength}}
            Intuition: {{character.attributes.Intuition.strength}}
          </div>
        </div>
      </div>
    </div>


  </form>
</div>
