<div class="container">
  <div class="row">
    <div class="col-12">
      <label class="font-weight-bold">{{propertyName}}: </label>
      <button id="displayBuildButton" class="btn btn-outline-primary btn-sm" (click)="displayBuilds()">
        {{selectionDisplayToggle ? 'Hide' :
        'Show'}} {{propertyName}}
      </button>
      <div class="selectedSpellDisplay float-right row" *ngIf="selectedBuild">
        <label class="font-weight-bold col">Selected {{propertyName}}:
        </label>
        <div class="btn-sm bg-success" *ngFor="let selectDisplaySpell of selectedBuild">
          {{selectDisplaySpell.name | castleCase}}
        </div>
      </div>
      <div *ngIf="selectionDisplayToggle">
        <p>Please select {{propertyName.charAt(0).match(vowelRegex) ? 'an' : 'a'}} {{propertyName}}
        </p>
        <div *ngFor="let sphereBuild of buildsToChooseFrom">
          <div
            *ngIf="isValidBuild(sphereBuild)">
            <div class="col-12">
              <div class="card-header" (click)="openBuild(sphereBuild)">
          <span class="name font-weight-bold">
            {{sphereBuild.name | castleCase}}
          </span>
                <button class="btn btn-sm spellButton float-right"
                        [ngClass]="{'disabled': !isSubthemeSelected() || (isThisDirty() && !isBuildSelected(sphereBuild)),
                     'btn-success': isBuildSelected(sphereBuild),
                     'btn-primary': !isBuildSelected(sphereBuild)
                    }"
                        [disabled]="!isSubthemeSelected()"
                        (click)="selectBuild(sphereBuild)">
                  {{isBuildSelected(sphereBuild) ? 'Deselect' : 'Select'}} {{propertyName}}
                </button>
              </div>
              <div class="card-text spellWell" *ngIf="isBuildOpen(sphereBuild)">
                <div *ngFor="let build of sphereBuild.powers">
                  <div id="nameHolder"
                       class="px-2 spellHeight"
                       *ngIf="build.name">
                    <label for="buildName" class="font-weight-bold">Name: </label>
                    <span id="buildName">{{build.name}}</span>
                  </div>
                  <div id="keywordsHolder"
                       class="px-2 spellHeight"
                       *ngIf="build.spellKeywords && build.spellKeywords.length > 0 || build.damageKeyword"
                  >
                    <label for="keywords" class="font-weight-bold">Keywords: </label>
                    <span id="keywords">{{build.damageKeyword}}<span
                      *ngIf="build.damageKeyword && build.spellKeywords && build.spellKeywords.length > 0">, </span>
                <span id="otherKeywords"
                      *ngFor="let keyword of build.spellKeywords; let keywordIndex = index">
                {{keyword | subthemesPipe}}<span *ngIf="build.spellKeywords[keywordIndex+1]">, </span>
                </span>
              </span>
                  </div>
                  <div id="defenseTypeHolder" class="px-2 spellHeight"
                       *ngIf="!!build.defenseType && build.defenseType.length > 0">
                    <label for="defenseType" class="font-weight-bold">Defense Type:</label>
                    <span id="defenseType" *ngFor="let defense of build.defenseType; let index=index">{{defense.toString().trim()}}<span
                      *ngIf="index < build.defenseType.length - 1">/</span></span>
                  </div>
                  <div id="aoeHolder" class="px-2 spellHeight" *ngIf="!!build.areaOfEffect">
                    <label for="aoe" class="font-weight-bold">Area of Effect:</label>
                    <span id="aoe">{{getAOEString(build)}}</span>
                  </div>
                  <div id="castActionHolder" class="px-2 spellHeight" *ngIf="!!build.castAction">
                    <label for="castAction" class="font-weight-bold">Cast Action:</label>
                    <span id="castAction">{{getCastActionString(build.castAction)}}</span>
                  </div>
                  <div id="durationHolder" class="px-2 spellHeight"
                       *ngIf="!!build.duration && build.duration.length > 0">
                    <label for="duration" class="font-weight-bold">Duration:</label>
                    <span id="duration" *ngFor="let duration of build.duration; let index=index">{{duration}}<span
                      *ngIf="index < build.duration.length - 1">/</span></span>
                  </div>
                  <div id="specialHolder" class="px-2"
                       *ngIf="build.special && build.special.length > 0">
                    <label for="special" class="font-weight-bold">Special:</label>
                    <span id="special" *ngFor="let special of build.special; let index=index">{{special}}<span *ngIf="index < build.special.length -1">.  </span>
                    </span>
                  </div>
                  <div id="critDieHolder" class="px-2 spellHeight" *ngIf="!!build.critRoll">
                    <label for="critDie" class="font-weight-bold">Crit Die:</label>
                    <span id="critDie">{{build.critRoll.printRoll()}}</span>
                  </div>
                  <corps-spell-chart
                    [spell]="build">
                  </corps-spell-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
