<div class="container-fluid">
  <div class="modal-body">
    <div class="row">
      <div class="col-3">
        <button *ngFor="let sub of getAllPossibleSubthemes()" class="btn btn-primary">
          {{sub.subthemeName | subthemes}}
          ({{sub.themeType}}) Ranks: {{sub.getThemeStrength()}}
        </button>
      </div>
      <div class="col-9">
        <corps-subthemes
          id="corpsSubtheme"
          [assignedSubthemePoints]="getAssignedSubthemes()"
          [subtheme]="selectedSubtheme()"
          (submitter)="updateSubtheme($event)">
        </corps-subthemes>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-danger pull-left">Cancel</button>
    <button class="btn btn-outline-primary pull-right">Submit</button>
  </div>
</div>
