<div class="row">
  <div class="col-md col-12" *ngIf="areSubthemesEmpty()">
    <label class="control-label">Pick your Subthemes</label>
    <button id="subthemesBtn" class="btn btn-sm btn-outline-primary form-control"
            (click)="launchModal()">+ Subthemes
    </button>
  </div>
  <div class="col-md col-12 form-group" *ngIf="!areSubthemesEmpty()">
    <div class="row">
      <div class="col-12">
        <label class="font-weight-bold">Subthemes</label>
        <button class="btn btn-outline-primary btn-sm float-right" (click)="launchModal()" >+</button>
      </div>
    </div>
    <div class="row text-left">
      <div *ngFor="let subName of displayAllSubthemes() | slice:0:2" class="col-auto">
        {{subName}}
      </div>
    </div>
    <div class="row text-left">
      <div *ngFor="let subName of displayAllSubthemes() | slice:2:4" class="col-auto">
        {{subName}}
      </div>
    </div>
  </div>
</div>
