<div class="row">
  <div class="col-md-4 col-12">
    <label *ngIf="labelName"
           class="control-label">
      {{labelName}}
    </label>
  </div>
  <br *ngIf="newLineLabelName">
  <div class="col-md-8 col-12">
    <input id="{{labelName}}Id"
           name="{{labelName}}Id"
           class="form-control"
           [type]="inputType"
           [ngStyle]="{'width': fixedWidth ? fixedWidth + 'px' : '100%'}"
           [ngModel]="inputModel"
           [required]="required"
           (ngModelChange)="changeModel($event)">
  </div>
</div>


<div *ngIf="isInvalid" class="errorMessage">Invalid Value!</div>
