<div class="row">
  <div [ngClass]="newLineLabelName ? 'col-12' : 'col-md col-12'">
    <label *ngIf="labelName"
           class="control-label">
      {{labelName}}
    </label>
  </div>
  <div class="col-md col-12">
    <input id="{{labelName}}Id"
           name="{{labelName}}Id"
           class="form-control"
           [type]="inputType"
           [ngStyle]="{'width': fixedWidth ? fixedWidth + 'px' : '100%'}"
           [ngModel]="inputModel"
           [required]="required"
           (ngModelChange)="changeModel($event)">
  </div>
  <div *ngIf="errorMessage" class="errorMessage row">
    <div class="col">
      <i class="fal fa-times-octagon"></i>
      {{errorMessage ? errorMessage : 'Invalid Value!'}}
    </div>
  </div>
</div>

